<h1>This is our employee</h1>
<form [formGroup]="updateForm">
<td>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="!updateEmployee">
            <td>{{employee?.id}}</td>
            <td>{{employee?.name}}</td>
            <td>{{employee?.salary}}</td>
            <td>{{employee?.age}}</td>
            <button class="button" type="button" (click)="updateEmployeeForm()">Edit</button>
        </tr>
            <tr *ngIf="updateEmployee">
                <td>{{employee?.id}}</td>
                <td><input type="text" formControlName="name" value={{employee?.name}}></td>
                <td><input type="number" formControlName="salary" value={{employee?.salary}}></td>
                <td><input type="number" formControlName="age" value={{employee?.age}}></td>
                <td><button class="button" (click)="updateEmployeeForm()">Update</button></td>
                <td><button class="button" (click)="deleteEmployee()">Delete</button></td>
            </tr>
        </tbody>
    </td>
</form>