<h1>Register</h1>
<div class="spinner" [@openClose]="isInitizilied? 'open' : 'close'">
  <span class="spinner-inner-1"></span>
  <span class="spinner-inner-2"></span>
</div>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
    <div>
        <label>name</label>
        <input type="text" required formControlName="name">
    </div>
    <div>
        <label>Salary</label>
        <input type="number" required ng-required= "true" formControlName="salary">
    </div>
    <div>
        <label>Age</label>
        <input type="number" required formControlName="age">
    </div>
    <div class="spinner" [@openClose]="isInitizilied? 'open' : 'close'">
      <span class="spinner-inner-1"></span>
      <span class="spinner-inner-2"></span>
    </div>
    <button class="button" type="submit">Register</button>
</form>


<div *ngIf="name.invalid && (name.dirty || name.touched)">
  <div *ngIf="name.errors.required">
    Name is required.
  </div>
</div>
<div *ngIf="age.invalid && (age.dirty || age.touched)">
  <div *ngIf="age.errors.required">
    Age is required.
  </div>
</div>
<div *ngIf="salary.invalid && (salary.dirty || salary.touched)">
  <div *ngIf="salary.errors.required">
    Salary is required.
  </div>
</div>
