<h1>Employees</h1>
<div class="spinner" [@openClose]="isInitizilied? 'open' : 'close'">
    <span class="spinner-inner-1"></span>
    <span class="spinner-inner-2"></span>
</div>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees$ | async">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.salary}}</td>
            <td>{{employee.age}}</td>
        </tr>
    </tbody>
</table>