<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
            <div>
                <label>E-mail</label>
                <input type="email" formControlName="email">
            </div>
            <div>
                <label>Password</label>
                <input type="password" formControlName="password">
            </div>
            <div>
                <label>Confirm Password</label>
                <input type="password" formControlName="confirmPass">
            </div>
            <div>
                <label>Nickname</label>
                <input type="text" formControlName="nickname">
            </div>
            <div>
                <label>Phone Number</label>
                <input type="number" formControlName="phoneNumber">
            </div>
            <div>
                <label>Website</label>
                <input type="url" formControlName="website">
            </div>
            <div class="agreement">
                    <input type="checkbox" (change)="isChecked($event)" formControlName="checkbox">
                    <span>I have read the <a href="#">agreement </a></span>
                  </div>
            <button class="button" type="submit" [disabled]="!userAgreed || !isPasswordMatched(password,confirmPass)">Register</button>
        </form>
</div>

<div>
    <h3>Errors:</h3>
    <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <div *ngIf="email.errors.required">
            Email is required
        </div>
        <div *ngIf="email.errors.email">
            Email should have type email
        </div>
    </div>
    <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <div *ngIf="password.errors.required">
            Password is required
        </div>
        <div *ngIf="password.errors.pattern">
            Password should contain english letters
        </div>
        <div *ngIf="password.errors.minlength">
            Password should contain minimum 7 characters
        </div>
    </div>
    <div *ngIf="!isPasswordMatched(password,confirmPass)&&confirmPass.dirty">
        Password isn't matched
    </div>
    <div *ngIf="nickname.invalid && (nickname.dirty || nickname.touched)">
        <div *ngIf="nickname.errors.required">
            Nickname is required
        </div>
        <div *ngIf="nickname.errors.pattern">
            Nickname should contain english letters
        </div>
    </div>
    <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
        <div *ngIf="phoneNumber.errors.required">
            Phone number is requried
        </div>
        <div *ngIf="phoneNumber.errors.pattern">
            Phone number must start with +380
        </div>
    </div>
    <div *ngIf="website.invalid && (website.dirty || website.touched)">
        <div *ngIf="website.errors.required">
            Website is required
        </div>
        <div *ngIf="website.errors.pattern">
            Incorrect web pattern
        </div>
    </div>
    <!-- <div *ngIf="address.invalid && (address.dirty || address.touched)">
        <div *ngIf="!address.errors?.zipStatus">
            Zip length should be less than 3
        </div>
        <div *ngIf="!address.errors?.cityStatus">
            City name should start from letter A
        </div>
    </div>
    <div *ngIf="name.invalid && (name.dirty || name.touched)">
        <div *ngIf="name.errors.required">
            Name is required 
        </div>
        <div *ngIf="name.errors.minlength">
            Name must be at least 4 characters long
        </div>
        <div *ngIf="name.errors.forbiddenName?.invalid">
            Name can't be like an {{name.value}}
        </div>
    </div> -->
</div>
